<nav class="navbarBottom navbar-default navbar-fixed-bottom">
	<div class="container">
		<div class="row navbar">
			<a id="helpNav" href="/help/"><i class="fas fa-question fa-4x"></i></a>
			<a id="homeNav" href="/index/"><i class="fas fa-home fa-4x"></i></a>
			<a id="profileNav" href="/profile/"><i class="fas fa-user fa-4x"></i></a>
		</div>
	</div>
</nav>
