
<!doctype html>

<head>
	<title>Exercise Page</title>	
	<link rel="stylesheet" type="text/css" href="/css/exerciseCSS.css">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/navbarCSS.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
</head>

<div class="containerExercise">

	<div class="exerciseProgress">
		<div class="exercise">
			<h1>{{name}}</h1>
		</div>
		<div class="progress">
			<h1>Progress</h1>
		</div>
	</div>

	<div class="howTo">
		<div class="howToTitle">
			<h1>How To:</h1>
		</div>
		<div class="howToVideo">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Jtols_QhuWw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>

	<div class="stats">
		<div class="weightReps">
			<div class="setHolder">
				<h1></h1>
			</div>
			<div class="weight" id='weightTitle'>
				<h1>Weight (lbs)</h1>
			</div>
			<div class="reps" id="repsTitle">
				<h1>Reps</h1>
			</div>
		</div>

		<div class="weightReps">
			<div class="set">
				<h1>Set 1</h1>
			</div>
			<div class="weight">
				<form action="/action_page.php">
					<input type="text" name="Weight lbs" value="00.0" class="userInput">
				</form> 
			</div>
			<div class="reps">
				<form action="/action_page.php">
					<input type="text" name="Sets" value="0" class="userInput">
				</form> 
			</div>
		</div>

		<div class="weightReps">
			<div class="set">
				<h1>Set 2</h1>
			</div>
			<div class="weight">
				<form action="/action_page.php">
					<input type="text" name="Weight lbs" value="00.0" class="userInput">
				</form> 
			</div>
			<div class="reps">
				<form action="/action_page.php">
					<input type="text" name="Sets" value="0" class="userInput">
				</form> 
			</div>
		</div>

		<div class="weightReps">
			<div class="set">
				<h1>Set 3</h1>
			</div>
			<div class="weight">
				<form action="/action_page.php">
					<input type="text" name="Weight lbs" value="00.0" class="userInput">
				</form> 
			</div>
			<div class="reps">
				<form action="/action_page.php">
					<input type="text" name="Sets" value="0" class="userInput">
				</form> 
			</div>
		</div>

		<div class="addRep">
			<button type="submit" class="addRepButton">+ Add Rep </button>
		</div>

	</div>

	<hr>
	<!-- Floor Navbar -->
	<div class="container">
		<div class="row navbar">
			<!-- <div class="col-lg-4"> -->
				<a href="/help/"><i class="fas fa-question fa-4x"></i></a>
			<!-- </div> -->
			<!-- <div class="col-lg-4"> -->
				<a href="/"><i class="fas fa-home fa-4x"></i></a>
			<!-- </div> -->
			<!-- <div class="col-lg-4"> -->
				<a href="/settings/"><i class="fas fa-cog fa-4x"></i></a>
			<!-- </div> -->
		</div>
	</div>
</div>



</html>