<!doctype html>
<head>
	<title>Friends Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/navbarCSS.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Friends</h1>
		</div>
	</div>


	<!-- Floor Navbar -->
	<div class="container">
		<div class="row navbar">
			<!-- <div class="col-lg-4"> -->
				<a href="/help/"><i class="fas fa-question fa-4x"></i></a>
			<!-- </div> -->
			<!-- <div class="col-lg-4"> -->
				<a href="/"><i class="fas fa-home fa-4x"></i></a>
			<!-- </div> -->
			<!-- <div class="col-lg-4"> -->
				<a href="/settings/"><i class="fas fa-cog fa-4x"></i></a>
			<!-- </div> -->
		</div>
	</div>

</body>
</html>