<!doctype html>
<head>
	<title>Help Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/helpCSS.css">
	<link rel="stylesheet" type="text/css" href="/css/navbarCSS.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Help</h1>
		</div>
	</div>

	<div class="container">
		<h1 class="display-1">When should I use this app?</h1>
		<p class="lead">
			Fit Y'all is most conveniently used while you are working out at the gym! You can track how many sets and reps
			you are doing so that you can see your progress.
		</p>
	</div>

	<div class="container">
		<h1 class="display-1">What is a rep?</h1>
		<p class="lead">
			A rep is short for "repetition" and it is how many times you complete one exercise in a row!
		</p>
	</div>

	<div class="container">
		<h1 class="display-1">What is a set?</h1>
		<p class="lead">
			A set is an amount of repetitions you do for a "set" time. For example, if you do 10 squats in a row,
			you have completed 10 reps of squats, and that is 1 "set". People usually will do multiple sets of a 
			work out, and take breaks in-between. That is why there are most likely more than 1 set in a workout.
		</p>
	</div>

	<div class="container">
		<h1 class="display-1">What is the difference between adding a set and submitting?</h1>
		<p class="lead">
			Adding a set is adding another "set of repetitions" to the workout. However, when you are completely done
			with the workout, you may "submit" to save the workout. 
		</p>
	</div>

	<!-- Floor Navbar -->
	{{> navbar}}

</body>
</html>