<!doctype html>
<head>
	<title>Help Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/helpCSS.css">
	<link rel="stylesheet" type="text/css" href="/css/navbarCSS.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Help</h1>
		</div>
	</div>

	<div class="container">
		<h1 class="display-1">Lorem ipsum dolor sit amet.</h1>
		<p class="lead">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quam neque, suscipit in est vel, sagittis commodo lectus. Sed at enim porttitor, aliquam lorem nec, ultricies eros. Sed ultrices suscipit est, eu cursus erat congue eu. Maecenas et est non quam sollicitudin hendrerit ac ac lectus. Suspendisse et ex tincidunt, efficitur diam quis, convallis est. Pellentesque ornare turpis at vulputate gravida. Nam pharetra vel nisi non sagittis. Sed euismod porttitor erat, eu porttitor urna vestibulum at. Nunc accumsan venenatis massa nec varius. Sed imperdiet dapibus mauris, non dignissim eros. Suspendisse potenti. Aenean vulputate feugiat erat, quis tincidunt tellus pharetra non. Nam eleifend nulla leo, et molestie massa ultrices nec. Duis ante nisl, rutrum ut ipsum id, posuere molestie massa. Nunc cursus mauris in placerat porta. Duis eu dui volutpat elit auctor sodales.
		</p>
	</div>

	<div class="container">
		<h1 class="display-1">Nam eleifend nulla</h1>
		<p class="lead">
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vulputate aliquam lobortis. Maecenas a diam ullamcorper, commodo ante sed, ultricies nisl. Duis ultricies ipsum sit amet mauris condimentum, id pellentesque urna condimentum. In nunc libero, auctor id tortor a, dictum venenatis magna. In hac habitasse platea dictumst. Mauris efficitur eu est ut faucibus. In neque erat, rutrum ac nunc id, tempus maximus lorem. In id convallis est. Aenean nulla dolor, feugiat in elit pulvinar, mattis convallis justo. Vestibulum egestas tortor tellus, eget feugiat quam consequat ac.
		</p>
	</div>

	<div class="container">
		<h1 class="display-1">Praesent porta odio</h1>
		<p class="lead">
			Maecenas eget elementum enim, eget vestibulum purus. Vivamus maximus lacinia accumsan. In est libero, lobortis non felis a, ultricies tempus tortor. Integer sit amet condimentum tellus. Nulla sollicitudin velit turpis, et pellentesque leo sodales sit amet. Praesent vitae interdum lectus. Donec sollicitudin leo in odio dignissim, non rhoncus purus gravida. Etiam elit risus, consectetur sed aliquam a, tempor id justo. Etiam laoreet turpis vitae est gravida, at tempus diam venenatis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus id enim sed dolor bibendum ullamcorper. Integer at ullamcorper odio. Sed ultrices facilisis fermentum. Fusce accumsan, sapien a porttitor dapibus, leo lacus ultricies diam, quis tristique orci tortor cursus erat. Suspendisse suscipit quam mi, sed faucibus nisl bibendum eu.
		</p>
	</div>

	<div class="container">
		<h1 class="display-1">Nam eleifend nulla</h1>
		<p class="lead">
			Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vulputate aliquam lobortis. Maecenas a diam ullamcorper, commodo ante sed, ultricies nisl. Duis ultricies ipsum sit amet mauris condimentum, id pellentesque urna condimentum. In nunc libero, auctor id tortor a, dictum venenatis magna. In hac habitasse platea dictumst. Mauris efficitur eu est ut faucibus. In neque erat, rutrum ac nunc id, tempus maximus lorem. In id convallis est. Aenean nulla dolor, feugiat in elit pulvinar, mattis convallis justo. Vestibulum egestas tortor tellus, eget feugiat quam consequat ac.
		</p>
	</div>

	<div class="container">
		<h1 class="display-1">Integer at ullamcorper odio</h1>
		<p class="lead">
			In non nulla condimentum odio semper hendrerit ut non libero. Vestibulum aliquet faucibus lobortis. Ut luctus elit sit amet tellus mollis, accumsan varius lacus porttitor. Quisque ut porttitor est, ac aliquam mauris. Quisque nec lacus pretium dolor laoreet dapibus. Nullam dui libero, sollicitudin sit amet mattis vel, vestibulum vel nisi. Nulla in leo imperdiet, dignissim eros vel, fringilla nisl.
	</div>

	<!-- Floor Navbar -->
	<div class="container">
		<div class="row navbar">
			<!-- <div class="col-lg-4"> -->
				<a href="/help/"><i class="fas fa-question fa-4x"></i></a>
			<!-- </div> -->
			<!-- <div class="col-lg-4"> -->
				<a href="/index/"><i class="fas fa-home fa-4x"></i></a>
			<!-- </div> -->
			<!-- <div class="col-lg-4"> -->
				<a href="/settings/"><i class="fas fa-cog fa-4x"></i></a>
			<!-- </div> -->
		</div>
	</div>

</body>
</html>