<!doctype html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome to Fit'Yall!</h1>
			<p>&middot; An app made to help beginners get on track towards becoming healthy.</p>
		</div>
	</div>

	<!-- TODO: Create Search Bar (What will this do? Would it be easier to just have a box of most well-known workouts and thats it?) -->

	<!-- TODO: Create grid of workouts -->

	<h1>Workouts here!</h1>
	
	<!-- Floor Navbar -->
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="#">Fit'Yall</a>
    		</div>
    		<ul class="nav justify-content-center navbar-nav">
      				<li><a href="help/">Help</a></li>
      				<li><a href="#">Friends</a></li>
      				<li><a href="settings/">Settings</a></li>
    		</ul>
  		</div>
	</nav>
</body>
</html>
