<!doctype html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/indexCSS.css">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome to Fit'Yall!</h1>
			<p>&middot; An app made to help beginners get on track towards becoming healthy.</p>
		</div>
	</div>

	<!-- TODO: Create Search Bar (What will this do? Would it be easier to just have a box of most well-known workouts and thats it?) -->


	<!-- Exercises user can click on -->
	<div class="container">
		<div class="row">
			{{#each exercises}}
			<div class='exercise col-sm' id="{{id}}">
				<a href="exercise/{{name}}" class="thumbnail">
					<img src="images/{{image}}" alt="Lorem pixel image" class="img rounded">
					<h3 class="display-4" id="name">{{name}}</h3>
				</a>
			</div>
			{{/each}}
		</div>
	</div>



	<!-- Floor Navbar -->
	<nav class="navbar navbar-default">
  		<div class="container">
    		<ul class="nav navbar-nav">
      				<li class="nav-item"><a href="help/">Help</a></li>
      				<li class="nav-item"><a href="#">Friends</a></li>
      				<li class="nav-item"><a href="settings/">Settings</a></li>
    		</ul>
  		</div>
	</nav>
</body>
</html>
