<!doctype html>
<head>
	<title>Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome to Fit'Yall!</h1>
			<p>&middot; An app made to help beginners get on track towards becoming healthy.</p>
		</div>
	</div>

	<!-- Table of Contents -->
	<ul>
		<li><a href="settings/">Settings</a></li>
		<li><a href="help/">Help</a></li>
		<li><a href="exercise/">Exercise</a></li>
		<li><a href="progress/">Progress</a></li>
	</ul>

</body>
</html>
