<!doctype html>
<head>
	<title>Profile Page</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<!-- userDataStorage.js must come before profile.js-->
	<script type="text/javascript" src="/js/userDataStorage.js"></script>
	<script type="text/javascript" src="/js/localStorage.js"></script>
	<script type="text/javascript" src="/js/facebook.js"></script>
	<script type="text/javascript" src="/js/profile.js"></script>
	
	

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/profileCSS.css">
	<link rel="stylesheet" type="text/css" href="/css/navbarCSS.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Settings</h1>
		</div>
	</div>


	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 profile">
				<img id="profileImg" src="/images/lorempixel.abstract.1.jpeg" alt="lorem pixel img" class="img-thumbnail img-fluid">
			</div>
		</div>
		
		<div class="row">
			<u><h4 class="profile">Name</h4></u>
			<div class="col-lg-12">
				<h1 class="profile" id="name" onload="setName()"></h1>
			</div>
		</div>

		<div class="row">
			<u><h4 class="profile">Goal</h4></u>
			<div class="col-lg-12">
				<h1 class="profile" id="goal" onload="setGoal()"></h1>
			</div>
		</div>
		
		<div class="profile">
			<button type="button" class="edit btn btn-lg btn-primary" onclick="edit()" id="edit">Edit Profile</button>
			<button type="button" class="confirm btn btn-lg btn-primary" id="confirm" onclick="confirm()" style="display: none;">Confirm</button>

		</div>
	</div>	


	<div class="profile">
		<a id="editSettingsButton" class="btn btn-md btn-primary" href="/settings/" role="button">Edit Settings</a>
	</div>

	<div class="profile">
		<button class='btn btn-secondary' role="button" onclick="logout()">Sign Out</button>
	</div>
 	

	<!-- Floor Navbar -->
	{{> navbar}}
</body>
</html>
