<!doctype html>
<head>
	<title>Settings Page</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<!-- userDataStorage.js must come befroe  settings.js-->
	<script type="text/javascript" src="/js/userDataStorage.js"></script>
	<script type="text/javascript" src="/js/settings.js"></script>
	

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/settingsCSS.css">
	<link rel="stylesheet" type="text/css" href="/css/navbarCSS.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Settings</h1>
		</div>
	</div>

	<!-- TODO: Create Picture profile -->
	<div class="container">
		<h1 class="display-1">My Profile</h1>
		<div class="row">
			<div class="col-lg-6 profile">
				<img src="/images/lorempixel.people.2.jpeg" alt="lorem pixel img" class="thumbnail">
				<div class="container">
					<button type="button" class="edit btn btn-lg btn-primary" onclick="edit()" id="edit">Edit</button>
					<button type="button" class="confirm btn btn-lg btn-primary" id="confirm" onclick="confirm()" style="display: none;">Confirm</button>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="col-lg-6">
					<h1 class="display-1">Name:</h1>
					<h1 class="display-1">Goal:</h1>
				</div>
				<div class="col-lg-6">
					<h1 class="display-1" id="name" onload="setName()"></h1>
					<h1 class="display-1" id="goal" onload="setGoal()"></h1>
				</div>
			</div>
		</div>
	</div>

	<!-- TODO: Create Name, Goal, and Display Buttons -->
	

	<!-- TODO: Align switches with h1 -->
	<!-- Switches -->
	<div class="container">
		<div class="row">
			<div class="col-lg-6 setting">
				<h1 class="display-1">Weight</h1>
			</div>
			<div class="col-lg-6 setting">
				<div class="btn-group btn-group-toggle" data-toggle="buttons" id="weights">

					<label class="btn btn-secondary active" id="lbsOptions" onclick="toggleLbs()">
						<input type="radio" autocomplete="off" name="options"  > Pounds
					</label>
					<label class="btn btn-secondary" id="kgOptions" onclick="toggleKg()">
						<input type="radio" name="options" autocomplete="off" > Kilograms
					</label>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 setting">
				<h1 class="display-1">Graph</h1>
			</div>
			<div class="col-lg-6 setting">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-secondary active" id="barOptions" onclick="toggleBar()">
						<input type="radio" autocomplete="off" name="options"> Bar
					</label>
					<label class="btn btn-secondary" id="lineOptions" onclick="toggleLine()">
						<input type="radio" name="options" autocomplete="off" > Line
					</label>
				</div>
			</div>
		</div>
	</div>


	<!-- Floor Navbar -->
	<div class="container">
		<div class="row navbar">
			<!-- <div class="col-lg-4"> -->
				<a href="/help/"><i class="fas fa-question fa-4x"></i></a>
			<!-- </div> -->
			<!-- <div class="col-lg-4"> -->
				<a href="/"><i class="fas fa-home fa-4x"></i></a>
			<!-- </div> -->
			<!-- <div class="col-lg-4"> -->
				<a href="/settings/"><i class="fas fa-cog fa-4x"></i></a>
			<!-- </div> -->
		</div>
	</div>
</body>
</html>
