<!doctype html>
<head>
	<title>Sign-up Page</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- <script type="text/javascript" src="/js/index.js"></script> -->
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/signup.js"></script>

    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <link href="/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/signupCSS.css">

</head>
<body>
   <div class="container">
        <div class="form-group">
            <form>
                <label for="email">Email</label>
                <input name="email" id="email" type="email" placeholder="Enter your email..." required> 

                <label for="password">Password</label>
                <input name="password id="password" type="password" placeholder="Enter a password..." required>
                
                <button id="signup" type="submit">Create My Account</button>
            </form>
        </div>
    </div>     
  
</body>

</html>
