* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	//border: 1px solid green;
}
.containerExerciseProgress {
  margin: 10 auto;
  max-width: 850px;
}

.exerciseProgressContent {

}

.howToContainer {
 text-align: center;
 height: auto;
 padding: 5px;
}

.howToTitle {
	text-align: center;
  padding: 5px;
  display: inline-block;
  width: 100%;
}

.videoContainer {  
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;  
}

.videoContainer iframe {  
 border: 0;
 height: 100%;
 left: 0%;
 position: absolute;
 top: 0;
 width: 100%; 
}

@media only screen and (min-width: 850px) {
  .howToContainer {

  }

  .videoContainer {  
    position: static;
    padding-top: 0%;
  }

  .videoContainer iframe {  
    position: static;
    height: 450px;
    width: 800px;
  }
}

.statsContainer {
 text-align: center;
 height: auto;
 padding-top: 20px;
}

.setsTable {
  width: 100%;
  font-size: 20px;
}

.setsTable th {
  text-align: center;
}

#setTitleID {
  padding-bottom: 10;
}

#inputFieldID {

}

.unit-table {
  text-align: center;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.428571429;
  border: 1px solid grey;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: lightblue;
}

.user-Input {
  width: 100%;
}

.recordRowTd {
  width: 35%;
  padding-right: 10px;
}

.titleRowTd {
  width: 20%;
}

.setsTableTitle {
  margin-bottom: 10px;
  //border: 10px solid grey;
  height: 50px;
}

.buttonContainer {
  margin-top: 30px;
}

.button {
  background-color: lightblue;
  border: 1px solid #ccc;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 20%
}

#submitButton {
  background-color: lightgreen;
}

.containerEx {
  width: 100%;
}

.navbarBottom {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}

.navbarBottom a{
  width: 33%;
  float: left;
  display: block;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 10px; 
  padding-bottom: 10px;

}

#settingOffset {
  padding-left: 15%;
}

