* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.containerExerciseProgress {
  margin: 10 auto;
}

.exerciseProgressContent {

}

.howToContainer {
 text-align: center;
 height: auto;
 padding: 5px;
}

.howToTitle {
	text-align: center;
  padding: 5px;
  display: inline-block;
  width: 100%;
  color: #336db3;
  font-weight: bolder;
}

.videoContainer {  
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;  
}

.videoContainer iframe {  
 border: 0;
 height: 100%;
 left: 0%;
 position: absolute;
 top: 0;
 width: 100%; 
}

@media only screen and (min-width: 850px) {
  .howToContainer {

  }

  .videoContainer {  
    position: static;
    padding-top: 0%;
  }

  .videoContainer iframe {  
    position: static;
    height: 450px;
    width: 800px;
  }
}

.ExerciseInfo {
  color: #336db3;
}

.statsContainer {
 text-align: center;
 height: auto;
 padding-top: 20px;
}

.setsTable {
  width: 100%;
  font-size: 20px;
}

.setsTable {
  text-align: left;
}

.emptyTh{
  width: 20%;
}

.titleTh{
  width: 35%;
  color: #336db3;
}

#setTitleID {
  padding-bottom: 10;
  color: white;
}

#inputFieldID {

}

.unit-table {
  text-align: center;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.428571429;
  border: 2px solid #336db3;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #6da2e6;
}

.user-Input {
  width: 100%;
}

.recordRowTd {
  width: 35%;
  padding-right: 10px;
}

.titleRowTd {
  width: 20%;
}

.setsTableTitle {
  margin-bottom: 10px;
  height: 50px;
  text-align: center;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.428571429;
}

.buttonContainer {
  margin-top: 30px;
}

.button {
  background-color: #6da2e6;
  text-align: center;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 20%;
}

#submitButton {
  background-color: lightgreen;
  font-weight: bolder;
}

#addSetButton {
  font-weight: bolder;

}


