#name {
	text-align: center;
}

.jumbotron h1 {
	text-align: center
}

#searchbar {
	text-align: center;
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  /*text-align: center;*/
  margin-top: 30px;
  margin: auto;
}

.searchbar-content button {
	float: left;
	width: 20%;
	padding: 15px;
	background: #ddd;
	font-size: 17px;
	/*border: none;*/
	border: 2px solid gray;
  	border-radius: 5px;
	cursor: pointer;
}

.searchbar-content input[type=text] {
  padding: 15px;
  font-size: 17px;

  float: left;
  width: 80%;
  background: white;
}

.searchbar {
	margin-bottom: 15px;
}

.searchfilter {
	margin-bottom: 15px;
}

.dropdown-menu button {
	padding: 0;
	width: 100%;
	border: 1px solid gray;
	background: none;	
}

.customFormDiv {
	width: 100%;
}

.customFormDiv button {
	width: 100%;
}

/* Change background color of buttons on hover */
.customFormDiv button:hover {
  background-color: #4da6ff;
}

.thumbnaimCustom {
  display: inline-block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;

}

.submitCustomFilterBtn {
	width: 100%;
	height: 50px;
	display: inline-block;
}

.customFilterInput {
	width: 60%;
	height: 30px;
	display: inline-block;
}

.filterTitle {
	display: inline-block;
	font-size: 100%;
}

.customFilterConatiner {
	width: 100%;
	padding-bottom: 15px;
	text-align: center;
}




