#email {
  border: none;
  width: 100%;
  border-bottom: 2px solid lightblue;
  padding: 6px 12px;
} 

#password {
  border: none;
  width: 100%;
  border-bottom: 2px solid lightblue;
  padding: 6px 12px;
  margin-top: 7%;
} 

#loginBtn {
  width: 100%;
  margin-top: 7%
}

#facebook-div {
  text-align: center;
  /*width: 100%;*/
  /*margin: 6px 12px;*/
  margin-top: 7%
}

#signup-div {
  text-align: center;
  margin-top: 7%; 
} 

#signup-span {
  display: inline-block;
  /*margin: 10px;*/
}

h1 {
  font-family: 'Raleway', sans-serif;
}

#login-container {
  margin-top: 50%;
}