/*
  Code from w3school: How to make tabs
*/

/* Style the tab */
.exerciseProgressTabs {
  overflow: hidden;
  background-color: #6da2e6;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 62px;
}

.topNavbar {
  height: 100px;
}
.topNavbar_A {
  height: 60px;
}

/* Style the buttons that are used to open the tab content */
.exerciseProgressTabs button {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 33.3333%;
}

/* Change background color of buttons on hover */
.exerciseProgressTabs button:hover {
  background-color: #336db3;
}

/* Create an active/current tablink class */
.exerciseProgressTabs button.active {
  background-color: #336db3;
  border-bottom: 5px solid white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

button {
  border: none;
  color: white;
}